.about-mail {
    margin: 50px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}

.about-mail h2 {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.go-back {
    padding: 5px;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.about-mail .buttons {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 20px;
}

.about-mail .buttons button {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}